@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Hej her er attraktioner :)</p>
<table>
    <tr>
        <thead>Nr. 1</thead>
        <thead>Nr. 2</thead>
        <thead>Nr. 3</thead>
    </tr>
    <tr>
        <td>Hej 1</td>
        <td>Hej 2</td>
        <td>Hej 3</td>
    </tr>
</table>